<div class="page-wrap d-flex flex-row align-items-center bg">
  <div class="container">
    <div class="row text-color">
      <div class="col-md-12">
        <div class="row justify-content-center">
          <img class="image-size" src="../../assets/images/error.png" alt="error 404 image">
        </div>
      </div>
      <div class="col-md-12 text-center mt-3">
        <div class="mb-4 lead">
          <span class="text-font px-3">[ 404 ]</span>
          <span>{{defaultMessage}}</span>
        </div>
        <button type="button" class="btn button-color" (click)="logout()">Back To Login Page</button>
      </div>
    </div>
  </div>
</div>
