.bg {
  background-color: var(--app-bg-color);
}

.error-text {
  width: 100%;
  font-size: 80%;
  margin-top: 5px;
  color: var(--warning-color);
  line-height: 1.5;
}

.alert-box {
  width: auto;
  height: auto;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  padding: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: white;
  background-color: var(--bg-warning-color);
  border: 1px var(--warning-color) solid;
}

.box {
  max-width: 720px !important;
  margin-top: 7%;
  background: var(--box-bg-color);
  color: white;
  border-radius: 10px;
}

.padding {
  padding: 50px;
}

.padding-left {
  padding-left: 50px;
}

.button-trash {
  border: none;
  background-color: transparent;
  color: var(--warning-color);
}

.button-width {
  max-width: 150px !important;
}

.digit {
  color: var(--primary-color) !important;
  margin-left: 7px;
  font-size: large;
}

.label-color {
  color: var(--text-color) !important;
}

.button-color {
  background-color: var(--primary-color) !important;
  color: var(--text-color) !important;
}

input[type=text] {
  background-color: var(--text-color) !important;
}

input[type=text]:focus {
  box-shadow: none !important;
  border: 2px solid var(--primary-color);
  border-radius: 4px;
}

:root {
  --primary-color: rgb(40, 160, 140);
  --warning-color: rgb(220, 50, 70);
  --bg-warning-color: rgba(220, 50, 70, 0.1);
  --text-color: rgba(255, 255, 255, 0.7);
  --app-bg-color: rgba(15, 15, 15, 0.9);
  --box-bg-color: rgba(0, 0, 0, 0.4);
}

